<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon.ico.png" type="image/png">
    <title>BitNinja Employees</title>
    <link rel="stylesheet" href="/css/employees.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <!-- <script src="/auth.js"></script> -->
  </head>
  <body>
    <!-- DELETE AND ADD BUTTON -->
    <section class="top-buttons">
      <button id="show-hide" type="button" class="btn btn-outline-light btn-show">
        >
      </button>
      <div class="hide-btn" style="display: none;">
      <button id="change-view" type="button" class="btn btn-outline-info btn-top">
        Table View
      </button>
      <button id="add-new-employee" class="btn btn-outline-light btn-top">
        Add new employee
      </button>
      <button id="delete-employee-button" type="button" class="btn btn-danger btn-top">
        Remove an employee
      </button>
    </div>
      <img src="img/logo_white.png" class="header-logo" alt="">
            </section>



    <!-- ADD FORM AND DELETE FORM -->
    <div id="new-employee" class="addNewEmployee form-group" style="display: none;">
      <h1 class="prompt-text">Add new employee</h1>
<hr>
      <form action="/new-employee" method="POST">
        <input
          class="form-control form-control-sm"
          type="text"
          placeholder="First Name"
          name="firstName" required
        />
        <input
          class="form-control form-control-sm"
          type="text"
          placeholder="Last Name"
          name="lastName" required
        />
        <input
          class="form-control form-control-sm"
          type="tel"
          placeholder="Phone"
          name="phone" required
        />
        <input
          class="form-control form-control-sm"
          type="text"
          placeholder="image-url"
          name="image"
        />
        <input
          class="form-control form-control-sm"
          type="email"
          placeholder="E-Mail"
          name="email" required
        />
        <input
          class="form-control form-control-sm"
          type="email"
          placeholder="LastPass Email"
          name="lastPassEmail" required
        />
        <input
          class="form-control form-control-sm"
          type="text"
          placeholder="Title"
          name="title" required
        />
        <button class="btn btn-success btn-subm" type="submit">Submit</button>
      </form>
      <hr>
    </div>

    <!-- DELETE EMPLOYEE FIELD -->
    <div id="delete-employee" class="delete-employee" style="display:none" >
      <div class="remove-text">
      <h1 class="prompt-text">Remove an employee from the phonebook.</h1>
      <hr>
    </div>
      <input
        id="delete-entry-value"
        placeholder="Email"
        tpye="email"
        name="email"
      />

      <button id="delete-entry-button" class="btn btn-danger btn-del" type="button">
        Remove employee
      </button>
    </div>

    <!-- RENDER EMPLOYEES CARD VIEW -->
    <div id="hide-cards" class="hideMyAss">
    <div class="d-flex employee-cards" style="text-align: center;">
      <div class="row employee-rows" style="position: relative; margin: auto">
        <% for(var i = 0; i < entries.length; i++) {%>

        <div  class="col-lg-3">
          <div class="card flex">
            <img class="card-img-top" src="<%= entries[i].image %>" alt="<%= entries[i].lastName %> <%= entries[i].firstName %>" />
            <div class="card-body">
              <h5 class="card-title">
                <%= entries[i].lastName %> <%= entries[i].firstName %>
              </h5>
              <p class="card-text"><%= entries[i].title %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Telefon: <%= entries[i].phone %></li>
              <li class="list-group-item">Email: <%= entries[i].email %></li>
              <li class="list-group-item">
                LastPass: <%= entries[i].lastPassEmail %>
              </li>
            </ul>
          </div>
        </div>

        <% } %>
      </div>
    </div>
  </div>

    <!-- RENDER EMPLOYEES TABLE VIEW -->
<table class="table table-hover table-dark table-hide table-striped" style="display:none">
<thead>
<tr>

  <th scope="col">Name</th>
  <th scope="col">Title</th>
  <th scope="col">Phone</th>
  <th scope="col">Email</th>
  <th scope="col">LastPass Email</th>

</tr>

</thead>
<tbody> 
 <% for(var i = 0; i < entries.length; i++) {%>
    
    <tr>
    <th scope="row"><img class="img-table" src="<%= entries[i].image %>" alt="<%= entries[i].lastName %> <%= entries[i].firstName %>" /><%= entries[i].lastName %> <%= entries[i].firstName %></th>
  <td><%= entries[i].title %></td>
<td><%= entries[i].phone %></td>
<td><a class="email-text" href="mailto:<%= entries[i].email %>"><%= entries[i].email %></a></td>
<td><%= entries[i].lastPassEmail %></td>
</tr>
<% } %>
             </tbody>
      </table>      
    <script src="/main.js"></script>
  </body>
  <footer><h3 class="footer">Proudly coded by Taki & designed by Mark.</h3></footer>
</html>
